@model IEnumerable<FoodCorner.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h1>My cart</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderedItem)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderedItem.ImageUrl)
            </td>
            <td>
                <a class="button btn-danger" asp-action="Delete" asp-route-id="@item.OrderID">Remove From Cart</a>
            </td>
        </tr>
}
    </tbody>
</table>
