@model IEnumerable<FoodCorner.Models.Restaurant>
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions

@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}
@{
    string culture = "", uiculture = "";
    if (Context.Request.QueryString.HasValue)
    {
        string url = Context.Request.QueryString.Value;
        culture = Context.Request.Query["culture"];
        uiculture = Context.Request.Query["ui-culture"];
    }
}

@{
    ViewData["Title"] = "Index";
    string cardStyle = User.IsInRole("Customer") ? "stretched-link" : "";
}

<h1>@Localizer["All Restuarants"]</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-info" asp-action="Add">@Localizer["Add New"]</a>
    </p>
}

<div class="row row-cols-1 row-cols-md-3">
    @foreach (var item in Model)
    {
        <div class="col mb-3">
            <div class="card">
                <img src="@item.LogoUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title mb-4">@item.Name</h3>
                    <h5 class="mb-2">📌@item.Address</h5>
                    <h6 class="mb-1">
                        <span class="badge badge-info">@Localizer["Rating"]: 9</span>
                    </h6>
                    <div class="d-flex justify-content-around">
                        <a class="btn btn-primary @cardStyle" asp-action="Details" asp-route-id="@item.RestaurantID">@Localizer["Details"]</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.RestaurantID">@Localizer["Edit"]</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RestaurantID">@Localizer["Delete"]</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
</div>