@model IEnumerable<FoodCorner.Models.Restaurant>

@{
    ViewData["Title"] = "Index";
    string cardStyle = User.IsInRole("Customer") ? "stretched-link" : "";
}

<h1>All Restuarants</h1>

@if (User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-info" asp-action="Add">Add New</a>
    </p>
}

<div class="row row-cols-1 row-cols-md-3">
    @foreach (var item in Model)
    {
        <div class="col mb-3">
            <div class="card">
                <img src="@item.LogoUrl" class="card-img-top" alt="...">
                <div class="card-body">
                    <h3 class="card-title mb-4">@item.Name</h3>
                    <h5 class="mb-2">📌@item.Address</h5>
                    <h6 class="mb-1">
                        @*<span class="badge badge-info">@item.Rating</span>*@
                        <span class="badge badge-info">Rating: 9</span>
                    </h6>
                    <div class="d-flex justify-content-around">
                        <a class="btn btn-primary @cardStyle" asp-action="Details" asp-route-id="@item.RestaurantID">Details</a>
                        @if (User.IsInRole("Admin"))
                        {
                            <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.RestaurantID">Edit</a>
                            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RestaurantID">Delete</a>
                        }
                    </div>
                </div>
            </div>
        </div>
    }
