@model IEnumerable<FoodCorner.Models.Restaurant>

@{
    ViewData["Title"] = "List";
}

<h1>All Restuarants</h1>

@if(User.IsInRole("Admin"))
{
    <p>
        <a class="btn btn-info" asp-action="Add">   Add New   </a>
    </p>
}

<div class="row row-cols-1 row-cols-md-4">
@foreach (var item in Model) {
  <div class="col mb-4">
    <div class="card">
      <img src="@item.LogoUrl" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">@item.Name</h5>
        <h4 class="card-text">@item.Address</h4>
        <a class="btn btn-primary stretched-link" asp-action="Details" asp-route-id="@item.RestaurantID">Details</a>
        @if(User.IsInRole("Admin"))
        {
            <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.RestaurantID">Edit</a>
            <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.RestaurantID">Delete</a>
        }
      </div>
    </div>
  </div>
}